.droppable {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  position: relative;
}

.draggable {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 3px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.draggable.dragging {
  background-color: #e0e0e0;
  opacity: 0.5;
}

.drg {
  position: absolute;
  width: calc(100% - 40px);
  box-sizing: border-box;
  background: red;
  opacity: 0.2;
}
